<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta property="title" content="{{ .Page.Title }}">
    <meta property="description" content="{{ .Page.Params.Summary }}">
    <meta property="type" content="website">
    <meta property="url" content="{{ .Permalink }}">
    <meta property="image" content="{{ .Site.BaseURL }}{{ .Page.Params.Cover }}">
    <meta property="locale" content="{{ .Site.LanguageCode }}">
    <meta property="tags" content="{{ .Page.Params.Tags }}">
    <meta property="article:published_time" content="{{ .Page.Params.Date }}">
    <meta property="article:modified_time" content="{{ .Page.Params.Update }}">
    <meta property="article:tags" content="{{ .Page.Params.Tags }}">
    <meta property="keywords" content="{{ .Page.Params.Tags }}">
    <meta property="author" content="{{ .Site.Title }}">
    
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{{ .Page.Title }}">
    <meta property="og:description" content="{{ .Page.Params.Summary }}">
    <meta property="og:type" content="{{ if .IsHome }}{{ "website" }}{{ else }}{{ "article" }} {{end}}">
    <meta property="og:site_name" content="raphaklaus">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ if .IsHome }}{{ .Site.BaseURL }}/me.png{{ else }}{{ .Site.BaseURL }}{{ .Page.Params.Cover }} {{end}}">
    <meta property="og:locale" content="{{ .Site.LanguageCode }}">
    <meta property="og:tags" content="{{ .Site.Params.Tags }}">

    <meta property="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="canonical" href="{{ .Permalink }}"> -->

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Page.Title }} - {{ .Site.Title }} {{end}}</title>
    
    <link href="/css/font-face.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="container">