{{ define "list" }}
<main>
    <h1 class="posts-title">{{.Title}}</h1>
    <section class="posts-container">
        {{ range .Data.Pages }}
        <article>
            <a href="{{.Permalink}}">
                <img class="posts-cover" src="{{ .Params.cover }}" alt="{{ .Params.alt }}">
            </a>
            <h1>
                <a href="{{.Permalink}}">
                    {{.Title}}
                </a>
            </h1>
            <p class="date">{{ dateFormat "January 1, 2006" .Date }}</p>
            <p> {{ .Params.summary }}</p>
        </article>
        {{ end }}
    </section>
</main>
{{ end }}