{{ partial "head.html" }}

{{ define "Page.Title" }}
{{ .Title }} – a {{ .Site.Title }} {{ end }}

{{ partial "header.html" }}

<section>
        <figure>
            <img src="{{ .Params.cover }}" alt="{{ .Title }}">
        </figure>
        <h1 class="title">{{ .Title }}</h1>
        <small>
             <!-- {{ dateFormat "Jul 2, 1989" "2017-12-12" }} -->
             {{ dateFormat "January 1, 2006" .Date }}
        </small>
        <br>
        {{ if .IsTranslated }}
        <small>Read in 
            <span>
                {{ range .Translations }}
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                {{ end }}
            </span>
        </small>
        {{ end }}
        <article class="article-container">
            {{ .Content }}
        </article>
        {{ partial "disqus.html" . }}
</section>



{{ partial "tail.html" }}