@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_rg-webfont.woff') format('woff')
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff2') format('woff2'),
         url('../fonts/oswald-light-webfont.woff') format('woff')
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'The Bold';
    src: url('../fonts/thebold.eot');
    src: url('../fonts/thebold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thebold.woff2') format('woff2'),
         url('../fonts/thebold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Tabarra';
    src: url('../fonts/tabarrapro.eot');
    src: url('../fonts/tabarrapro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tabarrapro.woff2') format('woff2'),
         url('../fonts/tabarrapro.woff') format('woff'),
         url('../fonts/tabarrapro.ttf') format('truetype'),
         url('../fonts/tabarrapro.svg#tabarra_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}