body
html
  display: flex
  // font: 16px/1 sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
  height: 100%
  width: 100%
  margin: 0
  overflow: hidden
  z-index: -2
  
a
  text-decoration: none

nav
  color: white
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  padding: 15px 10px 15px 10px
  width: 35%
  a
    font-size: 20px
    color: #ddd

  a:visited
    color: #ddd

  a:hover
    color: white

  ul
    list-style-type: none
    padding: 0
    text-align: center
    width: 100%
    z-index: 1
    li
      margin-bottom: 10px  

section
  background-color: #eee
  display: flex
  flex-direction: column
  overflow: auto
  width: 100%
  height: 100%
  overflow-x: hidden
  z-index: 1
  padding: 20px    
  hr
    border: 0
    border-top 1px solid #ccc   
    width: 90%

article
  color: #666
  height: auto
  padding: 30px 0 30px
  width: 100%
  a:visited
    color: black

.avatar
  border-radius: 100px
  z-index: 1
  -webkit-filter: sepia(100%)
  
.my-name
  margin-bottom: 0
  font-weight: 100
  z-index: 1

.title
  z-index: 1

video
  position: absolute
  border: 0
  padding: 0
  margin: 0
  top: 0
  left: 0
  // transform: translate(0,-25%)
  height: 100%
  filter: grayscale(100%) sepia(100%)
  z-index: -1000
  
.recent
  text-align: center
  color: #542F00
  
.article-header
  h2
    text-align: center
    margin-top: 0
    a
      color: #3E2601
      &:hover
        color: #774800
  
.article-photo
  a
    display: flex
    height: 400px
    justify-content: center
    img
      width: 90%
  // // display: flex
  // img
  //   // height: 600px
  // max-width: 90%
  // height: auto
