body
html
  background-color: #EEEEEE
  display: flex
  font-size: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden
  vertical-align: baseline;

small
  font-size: 0.85rem
  
p
  font-size: 1.25rem

for num in (1..3)
  h{num}
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: (2.3 - .5 * num)rem
    text-align: center

h1
  margin-top: 0

a
  text-decoration: none
  
.menu-link
  a
    font-size 1.25rem
    color: #ddd
    &:visited
      color: #ddd
    &:hover
      color: white  

.colored-link
  a
    color: tomato
    border-bottom: 1px solid tomato
    &:visited
      color: tomato
      border-bottom: 1px solid tomato
    &:hover
      color: #F9845F
      border-bottom: 1px solid #F9845F

nav
  @extends .menu-link
  background-color: #2B2B2B
  color: white
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  padding: 35px 10px 15px 10px
  width: 30%
  *
    z-index: 0
  ul
    font-weight: 400
    list-style-type: none
    padding: 0
    text-align: center
    width: 100%
    li
      margin-bottom: 10px
      
section
  background-color: #eee
  overflow: auto
  width: 100%
  z-index: 1
  padding: 25px    
  hr
    border: 0
    border-top 1px solid rgba(57, 52, 43, 0.21)
    width: 30%

article
  color: #666
  padding: 30px 0 30px
  width: 100%
  .article-brief
    .article-title
      color: inherit    
    .article-more-link
      @extends .colored-link
    .article-date
      margin-bottom: 10px
    p
      margin: 0 auto 0 auto
      width: 70%


#page-sobre
  @extends .colored-link
  width: 90%
  h1
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    text-align: left

#page-projetos
  width: 90%
  @extends .colored-link
  img
    width: 70%
  h1
  h2
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    text-align: left

.avatar
  filter: grayscale(95%) sepia(35%)
  z-index: 1
  border-radius: 100px
  
.my-name
  font-family: "Aller", sans-serif
  margin-bottom: 0
  font-weight: 100
  z-index: 1
  
.menu
  font-family: "Oswald"
  height: auto

.position
  z-index: 1

video
  position: absolute
  border: 0
  padding: 0
  margin: 0
  top: 0
  left: 0
  height: 100%
  filter: grayscale(80%) sepia(30%)
  z-index: 0
  
.recent
  text-align: left
  margin-top: 0
  margin-bottom: 5px
  margin-left: auto
  margin-right: auto
  width: 90%
  color: #736A5F
  + hr
    margin: 0 auto 0 auto
    width: 90%
  
.article-header
  h2
    text-align: center
    margin-top: 0
    a
      color: #3E2601
      &:hover
        color: #774800
  
.article-photo
  a
    img
      display: block
      margin-left: auto
      margin-right: auto
      width: 70%

.article-entry
  blockquote
    font-family: font-serif
    font-size: 1.4em
    margin: 0
    text-align: center
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
    p
      border-left: 3px solid #774800
      font-style: italic;
      padding: .66001rem 1rem 1rem;
  img
    display: block
    margin-left: auto
    margin-right: auto
    width: 100%
    
.article-inner
  @extends .colored-link
  text-align: left
  for num in (1..3)
    h{num}
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: (2.3 - .5 * num)rem
      text-align: left  
  h1
    margin-bottom: 0
  .article-date
    margin: 0  

.article-brief
  h1
    margin-bottom: 10px
    width: 80%
    margin-left: auto
    margin-right: auto

.article-date
  margin: 0 auto 0 auto
  width: 70%
  
.header-archive
  text-align: center
  a
    display: inline-block

@media screen and (max-width: 720px)
  html
  body
    height: auto
    flex-direction: column
    overflow: visible
  for num in (1..3)
    h{num}
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: (1.6 - .3 * num)rem
      text-align: center
  nav
    padding: 0
    width: auto
    height: auto
    .header-info
      @extends .menu-link
      background-color: #2e2e2e
      display: block
      height: auto
      width: 100%
      padding: 10px 0 10px 0
      z-index: 2
    .menu
      background-color: #353535
      padding-top: 10px
      display: flex
      flex-direction: column
      margin-top: 10px
      margin: 0
      li
        align-self: center
    .hamburguer
      float: right
      right: 15px
      width: 20px
      height: 20px
      display: flex
      flex-direction: column
      justify-content: space-between
      margin: 2px 10px 0 0
      .line
        background-color: #ddd
        height: 2px
        width: 100%
      &:hover
        .line:nth-child(1)
          transform: translateY(-2px)
        .line:nth-child(3)
          transform: translateY(2px)          
    video
      display: none
  section
    width: auto
    overflow: initial;
  article
    .article-brief
      h1
        width: 100%    
      p
        margin: 0 auto 0 auto
        width: 80%
  .article-photo
    a
      img
        width: 80%
  .my-name
    display: inline
    font-size: 1.3rem
    text-align: left
    margin: 0 0 0 10px
  .avatar
  .position
    display: none

  .invisible
    display: none !important