<section>
  <h3 class="recent">Recent articles</h3>
  <hr>
  <% page.posts.each(function(post, i){ %>
    <%- partial('article-brief', {post: post, index: true}) %>
    <% if(i < page.posts.length - 1){%>
      <hr>
    <% }%>
  <% }) %>
</section>