<section>
  <% page.posts.each(function(post, i){ %>
    <% if (post.article){ %>
      <%- partial('article-brief', {post: post, index: true}) %>
      <% if(i < page.posts.length - 1){%>
        <hr>
      <% }%>
    <% }%>
  <% }) %>
</section>